body {
  font-family: "Raleway","Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

h1 {
  color: #1c5d99;
  text-align: center;
}

img {
  padding: 0rem 1rem 0rem 1rem;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

a {
  padding: 0rem .2rem 0rem .2rem;
}

a:hover {
  color: #ffffff;
  background-color: #1c5d99;
  border-radius: 3px;
}

.tagline {
  font-weight: lighter;
}

.tagline .name1 {
  color: #1c5d99;
  font-weight: 700;
  text-transform: uppercase;
}

.tagline .name2 {
  color: #1c5d99;
  font-weight: 400;
  text-transform: uppercase;
}
