body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

/**** Main Styles ****/

.center {
  margin: 0 auto;
  padding: 0 1em;
}

section {
  /*display: flex;*/
}

h2 {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 700;
}
/*** Navigation styles *******/

nav {
  display: flex;
  justify-content: space-between;
  background-color: pink;
}

nav .logo {
  margin-left: 24px;
}

nav .menu-bar {
  margin-right: 24px;
}

nav .menu-bar ul{
  display: flex;
}

/****** Main hero section styles *******/

/****** Practice section styles ********/

/****** Learning section styles ********/

/******* Thesis exhibit section styles *******/

/****** Footer styles ***********/

footer {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: blue; /*test colors only; delete*/
}

p {
  color: red; /*test colors only; delete */
}
