body {
  font-family: "Raleway","Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

/**** Main Styles ****/

.center {
  margin: 0px auto;
}

section {
  display: flex;
  /*background-color: orange;*/
  /*margin-bottom: 10px;*/
}

.flex-column div{
  background-color: skyblue;
  max-width: 90%;
  /*display: flex;*/
  /*flex-direction: column-reverse;*/
}


h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
/*** Navigation styles *******/

nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 64px;
  width: 100%;
  margin-top: -65px;
  position: fixed;
  z-index: 5;
}

nav .logo {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

nav .menu-bar {
  display: flex;
  align-items: center;
}

nav .logo span {
  font-weight: 700;
}

nav .logo p {
  font-weight: 300;
  color: black;
  text-transform: uppercase;
}

nav .menu-bar {
  margin-right: 24px;
}

nav .menu-bar ul{
  display: flex;
}

.menu-bar ul li {
  margin-left: 11px;
  text-decoration: none;
}

.menu-bar a {
  padding: 5px;
  text-decoration: none;
  color: #6e6e6e;
}

.menu-bar a:hover {
  background-color: #454545;
  color: #fff;
  border-radius: 5px;
}
/****** Main section styles *******/

#main {
  background-color: #bdbdbd;
  margin-top: 65px;
  width: auto;
}

#main .img_ctr {
  max-width: 60%;
  margin: 32px 40px 32px 24px;
}

#main .img_ctr img {
  width: 100%;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 27%;
  text-align: center;
}

.hero_content h2 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  color: #454545;
}


.hero_content p {
  margin-bottom: 20px;
  color: #000;
}

.hero_content a {
  color: #fff;
  text-decoration: none;
}

.hero_content button {
  width: 90%;
  background-color: #454545;
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}

.hero_content button:hover {
  background-color: #718dea;
}

/* ** Information section styles ** */

#information {
    /*background-color: purple;*/
    color: #000;
    /*margin: 32px 0px 32px 0px;*/
    width: auto;
}

#information .info-hero {
  /*background-color: blue;*/
  margin-left: 24px;
  margin-right: 1.5rem;
  margin-top: 24px;
  /*border: 2px solid purple;*/
  width: 65%;
  text-align: left;
}

#information .info-hero h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #454545;
  margin: 2rem 0rem;
}

#information .info-hero p {
  margin: 2rem 0rem;
  padding: 0px;
  font-size: .9rem;
  line-height: 1.2;
  color: #6e6e6e;
}

#information .info-hero cite {
  font-weight: 400;
  font-style: italic;
}

#information .info-hero img {
  max-width: 92%;
  height: auto;
}

#information .features {
  max-width: 423px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  /*margin-top: 24px;*/
  margin-left: -2.75rem;
}

#information .features .highlight {
  display: flex;
  border-bottom: 1px solid #bdbdbd;
  /*margin-top: .25rem;*/
  padding: .5rem;
  width: auto;
  max-height: 9.375rem;
}
#information .features .highlight img {
  max-width: 35%;
  /*height: 150px;*/
  /*border: 2px solid yellow;*/
  padding: .5rem;
  /*max-height: 150px;*/
}

#information .features .highlight .info-content {
  /*background-color: green;*/
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#information .features a {
  text-decoration: none;
  color: #454545;
}

#information .features .highlight a {
  color: #718dea;
  font-size: .75em;
}


#information .features .highlight_03 {
  background-color: #bdbdbd;
  color: #454545;
}

#information .features .highlight .info_03 {
  background-color: #bdbdbd;
  color: #454545;
}


#information .features .highlight .info-content h3, p {
  padding-left: 16px;
  max-width: 92%;
  padding-bottom: .5rem;
}

#information .features .highlight .info-content h3 {
  color: #454545;
  font-weight: bolder;
}

/****** Courses section styles ********/

#courses {
  background-color: lightgray;
}

#cards {
  display: flex;
  margin: 5px;
}

.flex-column h2 {
  color: green;
  text-align: center;
}

.card {
  max-width: 33%;
}

/******* Thesis exhibit section styles *******/

/****** Footer styles ***********/

footer {
  display: flex;
  justify-content: space-between;
}

footer .footer_links ul {
  display: flex;
}
